[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
typer = {extras = ["all"], version = "*"}
requests = "*"
pymongo = "*"
python-dotenv = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.10"
