[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
typer = {extras = ["all"], version = "*"}
requests = "*"
pymongo = "*"
python-dotenv = "*"
pandas = "*"
fuzzywuzzy = "*"
streamlit = "*"
python-levenshtein = "*"

[dev-packages]
python-dotenv = "*"
pytest = "*"
openai = "*"

[requires]
python_version = "3.10"
